.modal-vazio.border.rounded.bg-white.shadow-lg {
  height: 0px;
  width: 0px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  transition: width 2000ms, height 2000ms;
}

.aberto {
  height: 100% !important;
  width: 100% !important;
}

.modal-vazio-botao.position-fixed.end-0.bottom-0.me-4.mb-4.btn.btn-primary.p-3.shadow {
  z-index: 5;
  border-radius: 40px;
  transition: transform 300ms, width 300ms;
}

.modal-conteudo {
  display: none;
}

.modal-vazio.border.rounded.bg-white.shadow-lg.aberto .modal-conteudo {
  display: flex;
}
