$primary: #376D49;
$secondary: #AFB6C0;
$light: #F1F8F4;
$dark: #0E1B11;
$success: #137547;
$danger: #EF5B5B;
$warning: #FFBA49;
$success-text: #062315;
$danger-text: #4A0808;
$warning-text: #3D2600;
$box-shadow-sm: 0px 4px 4px -1px rgba($dark, 0.075);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$menu-theme-colors: (
  "menu-dark-dark": #1A2223,
  "menu-dark": #232D2F,
  "menu-dark-light": #2C383A,
  "menu-light": #718F94,
  "menu-primary": $primary,
  "menu-active": #E6AF2E,
);

$custom-theme-colors: (
  "custom-light": #dbcec3,
  "custom-border": rgba(0, 0, 0, 0.124),
  "custom-dark": #756e68,
  "custom-light-dark": #c2b6ac,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors: map-merge($theme-colors, $menu-theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
