$primary: #f17300;
$secondary: #9da9a0;
$light: #f5e6da;
$dark: #151515;
$success: #11a672;
$danger: #d90368;
$success-text: #11a672;
$success-bg-subtle: #caf5e1;
$success-border-subtle: #11a672;
$danger-text: #d90368;
$danger-bg-subtle: #dbc8d1;
$danger-border-subtle: #d90368;
$box-shadow-sm: -3px 3px 5px rgba($dark, 0.075);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$menu-theme-colors: (
  "menu-dark-dark": #331900,
  "menu-dark": #401f00,
  "menu-dark-light": #4d2500,
  "menu-light": #803e00,
  "menu-primary": $primary,
  "menu-active": #ffd773,
);

$custom-theme-colors: (
  "custom-light": #dbcec3,
  "custom-border": rgba(0, 0, 0, 0.124),
  "custom-dark": #756e68,
  "custom-light-dark": #c2b6ac,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors: map-merge($theme-colors, $menu-theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
